@model Alpha.Models.CovidDatacontext
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @{
            ViewBag.Title = "Admin Dashboard";
        }

        <fieldset>
            <legend> User DashBoard </legend>

            @if (Session["AdminName"] != null)
            {
                <text>
                    Welcome @Session["AdminName"].ToString()
                </text>

                <br /><br />
                <br /><br />
                <br /><br />



            }

        </fieldset>
    </div>
    <div>@Html.ActionLink("LogOut", "Logout")</div>
</body>
</html>
