<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="../../Content/Index/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/Index/css/animate.css">

    <link rel="stylesheet" href="../../Content/Index/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../Content/Index/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../Content/Index/css/magnific-popup.css">

    <link rel="stylesheet" href="../../Content/Index/css/aos.css">

    <link rel="stylesheet" href="../../Content/Index/css/ionicons.min.css">

    <link rel="stylesheet" href="../../Content/Index/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../../Content/Index/css/jquery.timepicker.css">


    <link rel="stylesheet" href="../../Content/Index/css/flaticon.css">
    <link rel="stylesheet" href="../../Content/Index/css/icomoon.css">
    <link rel="stylesheet" href="../../Content/Index/css/style.css">




    <title>@ViewBag.Title - TURASH</title>
    
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="../../Content/Index/index.html">Welfare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="../../Content/Index/index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="../../Content/Index/about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="../../Content/Index/donate.html" class="nav-link">Donate</a></li>
                    <li class="nav-item"><a href="../../Content/Index/event.html" class="nav-link">Events</a></li>
                    <li class="nav-item"><a href="../../Content/Index/contact.html" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    <script src="../../Content/Index/js/jquery.min.js"></script>
    <script src="../../Content/Index/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../../Content/Index/js/popper.min.js"></script>
    <script src="../../Content/Index/js/bootstrap.min.js"></script>
    <script src="../../Content/Index/js/jquery.easing.1.3.js"></script>
    <script src="../../Content/Index/js/jquery.waypoints.min.js"></script>
    <script src="../../Content/Index/js/jquery.stellar.min.js"></script>
    <script src="../../Content/Index/js/owl.carousel.min.js"></script>
    <script src="../../Content/Index/js/jquery.magnific-popup.min.js"></script>
    <script src="../../Content/Index/js/aos.js"></script>
    <script src="../../Content/Index/js/jquery.animateNumber.min.js"></script>
    <script src="../../Content/Index/js/bootstrap-datepicker.js"></script>
    <script src="../../Content/Index/js/jquery.timepicker.min.js"></script>
    <script src="../../Content/Index/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="../../Content/Index/js/google-map.js"></script>
    <script src="../../Content/Index/js/main.js"></script>



</body>
</html>
