@model Alpha.Models.CovidDatacontext
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @{
            ViewBag.Title = "UserDashBoard";
        }

        <fieldset>
            <legend> User DashBoard </legend>

            @if (Session["DonorName"] != null)
            {
                <text>
                    Welcome @Session["DonorName"].ToString()
                </text>

                <br /><br />
                <br /><br />
                <br /><br />

                <div>@Html.ActionLink("See Contributions", "DonorContribute", new { donorid = Convert.ToInt32(Session["DonorID"]) })</div>
                <div>@Html.ActionLink("See Donation in Action", "Recipants", new { donorid = Convert.ToInt32(Session["DonorID"]) })</div>

            }

        </fieldset>
    </div>
    <div>@Html.ActionLink("LogOut", "Logout")</div>
</body>
</html>
