@model IEnumerable<Alpha.Models.RecieverTB>

@{
    ViewBag.Title = "AreaDetails";
}

<h2>AreaDetails</h2>

<p>
    @Html.ActionLink("Back", "AreaCoverage")
</p>
<table class="table">
    <tr>
        
       
        
        <th>
            @Html.DisplayNameFor(model => model.FamilyMemberCount)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMemberCount)
        </td>
      
    </tr>
}

</table>
